blue-1 = #3498DB
blue-2 = #2980B9
blue-3 = #34495E
blue-4 = #2C3E50
blue-5 = #22313f

white = #ffffff
grey = #ECF0F1
silver = #BDC3C7
asbestos-1 = #95A5A6
asbestos-2 = #7F8C8D

red-1 = #E74C3C
red-2 = #C0392B

green-1 = #1ABC9C
green-2 = #16A085

yellow = #F1C40F

orange-1 = #F39C12
orange-2 = #E67E22
orange-3 = #D35400
