@font-face
  font-family CuprumRegular
  font-style normal
  src url('../../fonts/cuprum-regular.ttf')

@font-face
  font-family GeometriaLight
  font-style normal
  src url('../../fonts/geometria-light.ttf')
