background-size()
  -moz-background-size arguments
  -webkit-background-size arguments
  background-size arguments

box-sizing()
  -moz-box-sizing arguments
  -webkit-box-sizing arguments
  box-sizing arguments

border-radius()
  -moz-border-radius arguments
  -webkit-border-radius arguments
  border-radius arguments

transition()
  -moz-transition arguments
  -o-transition arguments
  -webkit-transition arguments
  transition arguments

transform()
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  -webkit-transform arguments
  transform arguments

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -ms-animation arguments
  -o-animation arguments
  animation arguments
