<div class="s-menu-inner-wrapper">
    <ul class="s-menu-list">
        <li class="s-menu-list-item" ui-sref-active="active">
            <a class="s-menu-list-item-link" ui-sref="search">
                <span class="s-menu-list-item-link-icon"><i class="s-icon s-icon-search"></i></span>
                <span class="s-menu-list-item-link-body">Поиск</span>
            </a>
        </li>
        <li class="s-menu-list-item" ui-sref-active="active">
            <a class="s-menu-list-item-link" ui-sref="cabinet">
                <span class="s-menu-list-item-link-icon"><i class="s-icon s-icon-cabinet"></i></span>
                <span class="s-menu-list-item-link-body">Кабинет</span>
            </a>
        </li>
        <li class="s-menu-list-item" ui-sref-active="active">
            <a class="s-menu-list-item-link" ui-sref="catalog">
                <span class="s-menu-list-item-link-icon"><i class="s-icon s-icon-catalog"></i></span>
                <span class="s-menu-list-item-link-body">Каталог</span>
            </a>
        </li>
        <li class="s-menu-list-item" ui-sref-active="active">
            <a class="s-menu-list-item-link" ui-sref="collections">
                <span class="s-menu-list-item-link-icon"><i class="s-icon s-icon-collections"></i></span>
                <span class="s-menu-list-item-link-body">Коллекции</span>
            </a>
        </li>
    </ul>
</div>