<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="/stylesheets/app.build.css">
</head>
<body>
    <section class="s-app-container" resize>
        <header class="s-header" header-view></header>
        <main class="s-main desktop-menu-active" main-state>
            <nav class="s-menu" menu-view></nav>
            <section class="s-content">
                <div class="s-content-inner-wrapper"></div>
            </section>
        </main>
        <section class="s-popup-page" popup-page-state>
            <div class="s-popup-page-head"></div>
            <div class="s-popup-page-body">
                <section auth-view></section>
            </div>
        </section>
    </section>
<script src="/scripts/lib.build.min.js"></script>
<script src="/scripts/app.build.js"></script>
</body>
</html>