<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel="stylesheet" href="/stylesheets/app.build.css">
</head>
<body >
    <section class="s-app-container" resize>
        <header class="s-header">
            <div ng-click="toggleMenu()" class="s-header-button s-header-button-menu"><i class="s-icon s-icon-menu"></i></div>
        </header>
        <main class="s-main desktop-menu-active" menu-state>
            <nav class="s-menu" menu-view></nav>
            <section class="s-content">
                <div class="s-content-inner-wrapper"></div>
            </section>
        </main>
    </section>
<script src="/scripts/lib.build.min.js"></script>
<script src="/scripts/app.build.js"></script>
</body>
</html>