html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*:focus {
  outline: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-text-fill-color: #bdc3c7;
}
input::-webkit-input-placeholder {
  color: #bdc3c7;
  opacity: 0.5 !important;
}
input:-moz-placeholder,
input::-moz-placeholder {
  color: #bdc3c7;
  box-shadow: none !important;
}
input:invalid {
  box-shadow: none;
}
input:disabled {
  background-color: transparent;
  opacity: 0.2;
  transition: opacity 0.2s;
}
button::-moz-focus-inner {
  border: 0;
}
.s-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: 100% no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
}
.s-icon-big {
  width: 28px;
  height: 28px;
}
.s-icon-huge {
  width: 36px;
  height: 36px;
}
.s-icon-logo {
  background-image: url("../../../images/icons/logo.png");
}
.s-icon-menu {
  background-image: url("../../../images/icons/menu.png");
}
.s-icon-user {
  background-image: url("../../../images/icons/user-auth-false.png");
}
.s-icon-user.authenticated {
  background-image: url("../../../images/icons/user-auth-true.png");
}
.s-icon-close {
  background-image: url("../../../images/icons/close.png");
}
.s-icon-search {
  background-image: url("../../../images/icons/search.png");
}
.s-icon-cabinet {
  background-image: url("../../../images/icons/cabinet.png");
}
.s-icon-catalog {
  background-image: url("../../../images/icons/catalog.png");
}
.s-icon-collections {
  background-image: url("../../../images/icons/collections.png");
}
/* Devices width */
/* Global */
/* Header */
/* Menu */
.s-content {
  display: inline-block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 300px;
  padding: 0 300px 0 0;
  font-size: 12px;
}
@media screen and (min-width: 600px) and (max-width: 1024px), screen and (min-width: 0) and (max-width: 599px) {
  .s-content {
    padding: 0;
  }
}
.s-content-inner-wrapper {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.s-header {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #ecf0f1;
}
.s-header-right-buttons {
  display: inline-block;
  height: 50px;
  font-size: 0;
  float: right;
}
.s-header-logo {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 0;
}
.s-header-button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 0;
  cursor: pointer;
}
.s-header-button-menu {
  position: relative;
  width: 40px;
}
.s-header-button-menu .s-icon-menu {
  left: 0;
  opacity: 1;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.s-header-button-menu.active .s-icon-menu {
  left: -5px;
  opacity: 0.5;
}
@media screen and (min-width: 1025px) {
  .s-header-button-menu.active .s-icon-menu {
    opacity: 0.2;
  }
}
.s-header-button-user {
  width: 50px;
  text-align: center;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 12px Verdana;
}
a {
  outline: none;
}
.s-app-container {
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-size: 0;
}
.s-main {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 50px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media screen and (min-width: 1025px) {
  .s-main {
    left: -150px;
  }
  .s-main.desktop-menu-active {
    left: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px), screen and (min-width: 0) and (max-width: 599px) {
  .s-main {
    left: -300px;
  }
  .s-main.mobile-menu-active {
    left: 0;
  }
}
@media screen and (min-width: 1025px) {
  .desktop-menu-active .s-menu {
    opacity: 1;
  }
}
.s-menu {
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 50px;
  font-size: 12px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 1025px) {
  .s-menu {
    opacity: 0;
  }
}
.s-menu-inner-wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
.s-menu-list {
  display: inline-block;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.s-menu-list-item {
  position: relative;
  top: 10%;
  left: 0;
  display: inline-block;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  background-color: #fff;
  font-size: 0;
  -moz-transition: top 0.3s, min-height 0.3s;
  -o-transition: top 0.3s, min-height 0.3s;
  -webkit-transition: top 0.3s, min-height 0.3s;
  transition: top 0.3s, min-height 0.3s;
  z-index: 0;
}
.s-menu-list-item:first-child {
  top: 0;
}
.s-menu-list-item-head {
  display: inline-block;
  width: 100%;
  height: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(236,240,241,0.3);
}
.s-menu-list-item-head-link {
  display: inline-table;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #95a5a6;
  font-size: 14px;
}
.s-menu-list-item-head-link-icon {
  display: table-cell;
  width: 70px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
@media screen and (min-width: 0) and (max-width: 599px) {
  .s-menu-list-item-head-link-icon {
    width: 50px;
  }
}
.s-menu-list-item-head-link-label {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.s-menu-list-item-body {
  display: inline-block;
}
.s-menu-list-item.active {
  position: absolute;
  top: 0;
  min-height: 100%;
  height: 100%;
  z-index: 1;
}
.s-popup-auth {
  display: inline-block;
  background-color: #fff;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
.s-popup-auth form {
  margin: 5px 0 40px;
}
.s-popup-auth input,
.s-popup-auth button {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}
.s-popup-auth input {
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ecf0f1;
  font-size: 24px;
  color: #bdc3c7;
}
.s-popup-auth button {
  height: 44px;
  padding: 0;
  margin-top: 10px;
  background: rgba(26,188,156,0.8);
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-popup-auth button:hover,
.s-popup-auth button:active {
  background-color: rgba(26,188,156,0.9);
}
.s-popup-auth button::after {
  content: '\A';
  white-space: pre;
}
.s-popup-auth-message {
  display: inline-block;
  height: 15px;
  margin: 5px 0 10px;
  text-align: right;
  font-size: 12px;
  opacity: 0.8;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.s-popup-auth-message.default {
  color: #bdc3c7;
}
.s-popup-auth-message.success {
  color: #1abc9c;
}
.s-popup-auth-message.error {
  color: #e74c3c;
}
.s-popup-auth-message.warning {
  color: #e67e22;
}
.s-popup-auth-links {
  display: inline-block;
  height: 20px;
  margin: 15px 0 30px;
  text-align: left;
}
.s-popup-auth-links-item {
  display: inline-block;
  height: 100%;
  border-bottom: 1px dotted #bdc3c7;
  font-size: 12px;
  color: #bdc3c7;
  cursor: pointer;
  line-height: 20px;
}
.s-popup-auth-links-item:last-child {
  float: right;
}
.s-popup-auth-links-item:hover {
  border-color: transparent;
}
@media screen and (min-width: 1025px) {
  .s-popup-auth {
    width: 700px;
    min-height: 220px;
  }
  .s-popup-auth input,
  .s-popup-auth button,
  .s-popup-auth-message,
  .s-popup-auth-links {
    width: 400px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .s-popup-auth {
    width: 500px;
    min-height: 220px;
  }
  .s-popup-auth input,
  .s-popup-auth button,
  .s-popup-auth-message,
  .s-popup-auth-links {
    width: 300px;
  }
  .s-popup-auth button {
    height: 50px;
  }
}
.s-popup-page {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  z-index: -1;
}
.s-popup-page.animation {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  -ms-animation: fadeOut 0.3s;
  -o-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
}
.s-popup-page.active {
  opacity: 1;
  z-index: 1;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}
.s-popup-page-head {
  display: inline-block;
  width: 100%;
  max-width: 1600px;
  height: 50px;
  background-color: rgba(255,255,255,0.9);
}
.s-popup-page-head-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 0;
  cursor: pointer;
}
.s-popup-page-head-button-close {
  float: right;
}
.s-popup-page-body {
  display: inline-block;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 50px;
  background-color: rgba(127,140,141,0.5);
}
.s-popup {
  position: absolute;
  top: 100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-transition: top 0.2s ease-in-out;
  -o-transition: top 0.2s ease-in-out;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
.s-popup.active {
  top: 50px;
}
.s-popup-profile {
  display: inline-block;
  width: 800px;
  min-height: 500px;
  background-color: #fff;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -1;
  }
  1% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -1;
  }
  1% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -1;
  }
  1% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -1;
  }
  1% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
