.s-popup-page
  position absolute
  top 0
  left 0
  display inline-block
  width 100%
  height 100%
  overflow hidden

  &-head
    display inline-block
    width 100%
    height header-height
    background-color rgba(white,0.8)

  &-body
    display inline-block
    width 100%
    height 100%
    box-sizing border-box
    padding-bottom header-height
    background-color rgba(asbestos-2, 0.5)