.s-app-container
  position relative
  top 0
  left 0

  display block
  width 100%
  max-width max-app-width
  min-width min-app-width
  height 100%
  margin 0 auto
  padding header-height 0 0
  box-sizing border-box
  overflow hidden

  font-size 0

  @media media-desktop
    padding-left app-offset
    padding-right app-offset
