.s-header
  position fixed
  top 0
  left 0
  z-index 10

  display inline-block
  width 100%
  height header-height
  box-sizing border-box

  background-color white
  border-bottom 1px solid grey
  font-size 0

  &-logo
    display inline-block
    height header-height
    vertical-align top
    line-height header-height

    .s-icon-logo
      animation spin 1s linear infinite
      animation-play-state paused

      &.loading
        animation-play-state running

    @media media-tablet
      margin-left 0
    @media media-phone
      margin-left 0

  &-name
    display inline-block
    height header-height

    font-size 20px
    line-height header-height
    color asbestos-1

    @media media-desktop
      padding 0 15px
    @media media-tablet
      padding 0 10px
    @media media-phone
      padding 0 10px

  &-right-buttons
    display inline-block
    height header-height
    float right

  &-button
    display inline-block
    height header-height
    vertical-align top
    line-height header-height
    cursor pointer

    &-menu
      position relative
      width 10px
      overflow hidden

      .s-icon-menu
        left -18px
        transition all 0.3s

      &.active .s-icon-menu
        left -22px

    &-user
      width 50px
      text-align center

  @media media-desktop
    padding 0 5px 0 15px

@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}
