<div class="s-menu-inner-wrapper">
    <ul class="s-menu-list">

        <li class="s-menu-list-item" ui-sref-active="active">
            <div class="s-menu-list-item-head" ng-click="menu.toggleItemState($event)">
                <a class="s-menu-list-item-head-link" ui-sref="search">
                    <span class="s-menu-list-item-head-link-icon"><i class="s-icon s-icon-search"></i></span>
                    <span class="s-menu-list-item-head-link-label">Поиск</span>
                </a>
            </div>
            <div class="s-menu-list-item-body" menu-item-search></div>
        </li>

        <li class="s-menu-list-item" ui-sref-active="active">
            <div class="s-menu-list-item-head" ng-click="menu.toggleItemState($event)">
                <a class="s-menu-list-item-head-link" ui-sref="cabinet">
                    <span class="s-menu-list-item-head-link-icon"><i class="s-icon s-icon-cabinet"></i></span>
                    <span class="s-menu-list-item-head-link-label">Кабинет</span>
                </a>
            </div>
            <div class="s-menu-list-item-body" menu-item-cabinet></div>
        </li>

        <li class="s-menu-list-item" ui-sref-active="active">
            <div class="s-menu-list-item-head" ng-click="menu.toggleItemState($event)">
                <a class="s-menu-list-item-head-link" ui-sref="catalog">
                    <span class="s-menu-list-item-head-link-icon"><i class="s-icon s-icon-catalog"></i></span>
                    <span class="s-menu-list-item-head-link-label">Каталог</span>
                </a>
            </div>
            <div class="s-menu-list-item-body" menu-item-catalog></div>
        </li>

        <li class="s-menu-list-item" ui-sref-active="active">
            <div class="s-menu-list-item-head" ng-click="menu.toggleItemState($event)">
                <a class="s-menu-list-item-head-link" ui-sref="collections">
                    <span class="s-menu-list-item-head-link-icon"><i class="s-icon s-icon-collections"></i></span>
                    <span class="s-menu-list-item-head-link-label">Коллекции</span>
                </a>
            </div>
            <div class="s-menu-list-item-body" menu-item-collections></div>
        </li>

    </ul>
</div>