.s-popup-header
  position relative

  border-bottom none
  text-align left

  &-name
    @media media-tablet
      padding-left 20px
    @media media-phone
      padding-left 20px

  &-button
    display inline-block
    width 50px
    height header-height
    line-height header-height
    font-size 0
    text-align center
    cursor pointer

    &-close
      float right


