.s-popup-header
  display inline-block
  width 100%
  height header-height

  background-color rgba(white,0.9)
  text-align left

  &-name
    display inline-block
    height header-height
    padding 0 10px

    font-size 20px
    line-height header-height
    color asbestos-1

  &-button
    display inline-block
    width 50px
    height header-height
    line-height header-height
    font-size 0
    text-align center
    cursor pointer

    &-close
      float right
