.s-icon
  position relative
  display inline-block
  vertical-align middle
  background 100% no-repeat
  background-size 100%
  width 24px
  height 24px

.s-icon-menu
  background-image url('../../../images/icons/menu.png')
.s-icon-search
  background-image url("../../../images/icons/search.png")
.s-icon-cabinet
  background-image url("../../../images/icons/cabinet.png")
.s-icon-catalog
  background-image url("../../../images/icons/catalog.png")
.s-icon-collections
  background-image url("../../../images/icons/collections.png")