background-size()
  -moz-background-size arguments
  -webkit-background-size arguments
  background-size arguments

box-sizing()
  -moz-box-sizing arguments
  -webkit-box-sizing arguments
  box-sizing arguments

transition()
  -moz-transition arguments
  -o-transition arguments
  -webkit-transition arguments
  transition arguments

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -ms-animation arguments
  -o-animation arguments
  animation arguments